<h1><b>Players detailed stats scraping</h1></b>

In [1]:
#code inspiered by https://github.com/deeppomal/whoscored_scraper/blob/master/extraction%20using%20selenium.ipynb (the code is not really providing a proper table anymore)
#I also followed this youtube tutorial 
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys #import keys to navigate the web page
from selenium.common.exceptions import TimeoutException, WebDriverException
import time

import pandas as pd
import re
import os

<h3><b>Selenium webdriver</h3></b>

>Here below I report all the web pages link used for the scraping. As mentioned above, this do not loop across all the leagues but has to be manually changed based on the searched league i.e. you must copy the selected url variable from the cell below and copy it at 'website_URL'.

In [2]:
Premier_league = 'https://www.whoscored.com/Regions/252/Tournaments/2/Seasons/8228/Stages/18685/PlayerStatistics/England-Premier-League-2020-2021'
Serie_a = 'https://www.whoscored.com/Regions/108/Tournaments/5/Seasons/8330/Stages/18873/PlayerStatistics/Italy-Serie-A-2020-2021'
La_Liga = 'https://www.whoscored.com/Regions/206/Tournaments/4/Seasons/8321/Stages/18851/PlayerStatistics/Spain-LaLiga-2020-2021'
Bundesliga = 'https://www.whoscored.com/Regions/81/Tournaments/3/Seasons/8279/Stages/18762/PlayerStatistics/Germany-Bundesliga-2020-2021'
Ligue_1 = 'https://www.whoscored.com/Regions/74/Tournaments/22/Seasons/8185/Stages/18594/PlayerStatistics/France-Ligue-1-2020-2021'
Liga_nos = 'https://www.whoscored.com/Regions/177/Tournaments/21/Seasons/8315/Stages/18842/PlayerStatistics/Portugal-Liga-NOS-2020-2021'
Eredivisie = 'https://www.whoscored.com/Regions/155/Tournaments/13/Seasons/8187/Stages/18596/PlayerStatistics/Netherlands-Eredivisie-2020-2021'
Russian_premier_league = 'https://www.whoscored.com/Regions/182/Tournaments/77/Seasons/8242/Stages/18707/PlayerStatistics/Russia-Premier-League-2020-2021'
Brasileirao = 'https://www.whoscored.com/Regions/31/Tournaments/95/Seasons/8555/Stages/19551/PlayerStatistics/Brazil-Brasileir%C3%A3o-2021'
MLS = 'https://www.whoscored.com/Regions/233/Tournaments/85/Seasons/8545/Stages/19513/PlayerStatistics/USA-Major-League-Soccer-2021'
Super_lig = 'https://www.whoscored.com/Regions/225/Tournaments/17/Seasons/8313/Stages/18838/PlayerStatistics/Turkey-Super-Lig-2020-2021'
Championship = 'https://www.whoscored.com/Regions/252/Tournaments/7/Seasons/8304/Stages/19661/PlayerStatistics/England-Championship-2020-2021'
Premiership = 'https://www.whoscored.com/Regions/253/Tournaments/20/Seasons/8191/Stages/19535/PlayerStatistics/Scotland-Premiership-2020-2021'
League_one = 'https://www.whoscored.com/Regions/252/Tournaments/8/Seasons/8305/Stages/19705/PlayerStatistics/England-League-One-2020-2021'
League_two = 'https://www.whoscored.com/Regions/252/Tournaments/9/Seasons/8306/Stages/19704/PlayerStatistics/England-League-Two-2020-2021'
Superliga = 'https://www.whoscored.com/Regions/11/Tournaments/68/Seasons/7905/Stages/17737/PlayerStatistics/Argentina-Superliga-2019-2020'#season 2021 starts on 18 july 2021
Jupiler_league = 'https://www.whoscored.com/Regions/22/Tournaments/18/Seasons/8197/Stages/19624/PlayerStatistics/Belgium-Jupiler-Pro-League-2020-2021'
Bundesliga_2 = 'https://www.whoscored.com/Regions/81/Tournaments/6/Seasons/8280/Stages/18763/PlayerStatistics/Germany-Bundesliga-II-2020-2021'

In [3]:
#define browser
driver = webdriver.Chrome('chromedriver.exe')#for this scraping I'm using chrome as browser

#define URL
website_URL = League_two
driver.get(website_URL)

#by default, the data are filtered. I need to click on the button to make all the players available
driver.find_element_by_link_text('Detailed').click()

In [4]:
#set page number
#number of pages e.g premier league it's 54 so I need to set max_page as 54
page = 1
max_page= 74

#max page for each league
#Premier league 54
#Serie A 63
#La liga 59
#Bundensilga 51
#Ligue 1 59
#Liga NOS 55
#Eredivisie 53
#Russian premier league 53
#BrasileirÃ£o 31
#MLS 59
#Super lig 70
#Championship 74
#Premiership 37
#League one 75
#League two 74
#Superliga 73
#Jupiler Pro league 55
#Bundensliga_2 51

In [5]:
data = []

while True:
        try:
            if page > max_page :
                print('Last page reached')
                break
            page+=1
            for i in driver.find_elements_by_id('statistics-table-detailed'): #define the html target
                table = driver.find_element_by_id('statistics-table-detailed').text #note _elements is different from _element
                data.append(table)
            driver.find_element_by_link_text('next').click() #move to the next page
            time.sleep(4) #put the program to sleep for 2 seconds i.e. enough time to ensure that the following page is upload before execution
            print('Page', page-1) #print pages computed (double check that is = to max_page)
        except (TimeoutException, WebDriverException) as e:
            print("Done")
            break
            
driver.quit() #terminate the session

Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Last page reached

<h3><b>Data Manipulation</h3></b>

> Here below I turn the extracted data into a readable format

In [6]:
# here I need to turn the data in a suitable for manipulation 
df = '.'.join(str(x) for x in data) #this is necessary to turn the list into str (https://stackoverflow.com/questions/37377389/convert-list-into-string-in-python3)
df = re.split ('\n', df) #split based on the '\n' pattern
df = pd.DataFrame(df) #turn the data to pd to ease the manipulation
df.columns = ['col'] #rename the column (there is only 1 now)

>note: on each page the table headers are repeated and so in the df. By printing df, the structure is
>- header (player) -> this is repeated every time the selenium script read ('next').click()
>- stats headers (Apps Mins Goals Assists Yel Red SpG PS% Aerial...) -> this is repeated every time the selenium script read ('next').click()
>- player number in the list
>- team, age roles
>- stats

In [7]:
# here I extract some of the headers that I need to compose the final df before deleting those
headers = df[1:2] # stats are located in the second row
headers = headers.col.str.split(' ',expand=True) #split

headers

      0     1      2         3           4            5       6
1  Apps  Mins  Total  OutOfBox  SixYardBox  PenaltyArea  Rating

In [8]:
# remove headers from the dataframe
df = df[~df.col.str.contains('Apps Mins Total OutOfBox')] #this removes entires rows
df['col'] = df['col'].str.replace('.Player','') #replace with blank space Player

In [9]:
# here I must 
body = df.iloc[1:] #save the table body removing the first two rows (not empty because 'Player' has been removed)
body = pd.DataFrame(body.col.values.reshape(-1, 4)) #reshaping the dataframe will arrange the data in the proper format
body.columns = ['col0', 'col1', 'col2', 'col3'] #rename columns

body.head(5)

  col0              col1                  col2                          col3
0    1  JÃ¶kull AndrÃ©sson     Morecambe, 19, GK            2 180 - - - - 8.09
1    2     James Vaughan      Tranmere, 32, FW  31 2549 2.9 0.4 0.3 2.2 7.42
2    3       Scott Twine    Newport, 21, AM(C)  19 1551 3.6 2.6 0.1 0.9 7.33
3    4        Callum Guy     Carlisle, 24, DMC      44 3892 0.9 0.9 - - 7.30
4    5     William Boyle  Cheltenham, 25, D(C)  29 2610 1.7 0.1 0.2 1.4 7.24

In [10]:
body_1 = body.col1 #player name 
body_2 = body.col2.str.split(',',expand=True) #split col 2
body_3 = body.col3.str.split(' ',expand=True) #split col 3
body = pd.concat([body_1, body_2, body_3], axis=1) #concat data
body = body.iloc[:, :-1] #remove last columns (report the rating which is already in summary)

body.head(5)

,col1,0,1,2,3,4,0,1,2,3,4,5
0,JÃ¶kull AndrÃ©sson,Morecambe,19,GK,None,None,2,180,-,-,-,-
1,James Vaughan,Tranmere,32,FW,None,None,31,2549,2.9,0.4,0.3,2.2
2,Scott Twine,Newport,21,AM(C),None,None,19,1551,3.6,2.6,0.1,0.9
3,Callum Guy,Carlisle,24,DMC,None,None,44,3892,0.9,0.9,-,-
4,William Boyle,Cheltenham,25,D(C),None,None,29,2610,1.7,0.1,0.2,1.4

In [11]:
#Premiership has not third_role. Add an empy column 
#body.insert(loc=5, column = 'col', value=['' for i in range(body.shape[0])])

In [12]:
#df clean
df_clean = body.set_axis(['Name', 'Team', 'Age', 'Main_role', 'Secondary_role',
                          'third_role', 'Apps', 'Mins', 'Total_shots', 'OutOfBox',
                          'SixYardBox', 'PenaltyArea'], axis=1, inplace=False)

df_clean.head(5)

,Name,Team,Age,Main_role,Secondary_role,third_role,Apps,Mins,Total_shots,OutOfBox,SixYardBox,PenaltyArea
0,JÃ¶kull AndrÃ©sson,Morecambe,19,GK,None,None,2,180,-,-,-,-
1,James Vaughan,Tranmere,32,FW,None,None,31,2549,2.9,0.4,0.3,2.2
2,Scott Twine,Newport,21,AM(C),None,None,19,1551,3.6,2.6,0.1,0.9
3,Callum Guy,Carlisle,24,DMC,None,None,44,3892,0.9,0.9,-,-
4,William Boyle,Cheltenham,25,D(C),None,None,29,2610,1.7,0.1,0.2,1.4

In [13]:
#drop columns that are repeated in the summary (name is retained to ensure a correspodance across data frames)
df_clean.drop(['Team', 'Age', 'Main_role', 'Secondary_role', 'third_role', 'Apps', 'Mins'], axis=1, inplace=True)

In [14]:
df_clean.shape

(735, 5)

In [15]:
#by doing this I noticed that sometimes there is some sort of bug in selenium that produces duplicates but is not always reproducible
df_clean.loc[df_clean.duplicated(),:]

                 Name Total_shots OutOfBox SixYardBox PenaltyArea
273  JÃ¶kull AndrÃ©sson           -        -          -           -

In [16]:
#save as csv
df_clean.to_csv('league_two_detailed.csv', index=False)

<h3><b>Reload all the dataframes</h3></b>

In [17]:
#while uploading the dataframes I will also add a column to specify the league where they are playing
Premier_league = pd.read_csv(os.path.join('Premier_league_detailed.csv')) 
Premier_league['League'] = 'Premier_league'

Serie_a = pd.read_csv(os.path.join('Serie_a_detailed.csv')) 
Serie_a['League'] = 'Serie_A'

La_Liga = pd.read_csv(os.path.join('La_Liga_detailed.csv')) 
La_Liga['League'] = 'La_Liga'

Bundesliga = pd.read_csv(os.path.join('Bundesliga_detailed.csv')) 
Bundesliga['League'] = 'Bundesliga'

Ligue_1 = pd.read_csv(os.path.join('Ligue_1_detailed.csv')) 
Ligue_1['League'] = 'Ligue_1'

Liga_nos = pd.read_csv(os.path.join('Liga_nos_detailed.csv')) 
Liga_nos['League'] = 'Liga_nos'

Eredivisie = pd.read_csv(os.path.join('Eredivisie_detailed.csv')) 
Eredivisie['League'] = 'Eredivisie'

Russian_premier_league = pd.read_csv(os.path.join('Russian_premier_league_detailed.csv')) 
Russian_premier_league['League'] = 'Russian_premier_league'

Brasileirao = pd.read_csv(os.path.join('Brasileirao_detailed.csv')) 
Brasileirao['League'] = 'Brasileirao'

MLS = pd.read_csv(os.path.join('MLS_detailed.csv'))
MLS['League'] = 'MLS'

Super_lig = pd.read_csv(os.path.join('Super_lig_detailed.csv')) 
Super_lig['League'] = 'Super_lig'

Championship = pd.read_csv(os.path.join('Championship_detailed.csv')) 
Championship['League'] = 'Championship'

Premiership = pd.read_csv(os.path.join('Premiership_detailed.csv')) 
Premiership['League'] = 'Premiership'

League_one = pd.read_csv(os.path.join('League_one_detailed.csv'))
League_one['League'] = 'League_one'

League_two = pd.read_csv(os.path.join('League_two_detailed.csv')) 
League_two['League'] = 'League_two'

Superliga = pd.read_csv(os.path.join('Superliga_detailed.csv')) 
Superliga['League'] = 'Superliga'

Jupiler_league = pd.read_csv(os.path.join('Jupiler_league_detailed.csv')) 
Jupiler_league['League'] = 'Jupiler_league'

Bundesliga_2 = pd.read_csv(os.path.join('Bundesliga_2_detailed.csv')) 
Bundesliga_2['League'] = 'Bundesliga_2'

In [18]:
stats_detailed = pd.concat([Premier_league, Serie_a, La_Liga, Bundesliga, Ligue_1,
                           Liga_nos, Eredivisie, Russian_premier_league, Brasileirao, MLS,
                           Super_lig, Championship, Premiership, League_one, League_two,
                           Superliga, Jupiler_league, Bundesliga_2])
stats_detailed.shape

(10356, 6)

In [19]:
stats_detailed.head(5)

              Name Total_shots OutOfBox SixYardBox PenaltyArea          League
0       Harry Kane         3.9      1.5        0.4           2  Premier_league
1  Kevin De Bruyne         3.2      1.7        0.1         1.4  Premier_league
2    Jack Grealish         1.9      0.5          -         1.4  Premier_league
3  Bruno Fernandes         3.3        2        0.1         1.2  Premier_league
4     Tomas Soucek         1.7      0.3        0.4           1  Premier_league

In [20]:
stats_detailed.loc[stats_detailed.duplicated(),:]

,Name,Total_shots,OutOfBox,SixYardBox,PenaltyArea,League
478,Mat Ryan,-,-,-,-,Premier_league
374,Mateo Musacchio,-,-,-,-,Serie_A
600,Arturo Calabresi,-,-,-,-,Serie_A
238,Alfred Gomis,-,-,-,-,Ligue_1
514,Ricardo Ferreira,-,-,-,-,Liga_nos
196,Egor Baburin,-,-,-,-,Russian_premier_league
473,Ilya Pomazun,-,-,-,-,Russian_premier_league
103,Juninho,1,-,-,1,Brasileirao
136,Vitinho,1,1,-,-,Brasileirao
186,Diego,-,-,-,-,Brasileirao
470,Liam Fraser,-,-,-,-,MLS
92,Zdenek Zlamal,-,-,-,-,Premiership
153,Josef Bursik,-,-,-,-,League_one
356,Josef Bursik,-,-,-,-,League_one
470,Joe Lumley,-,-,-,-,League_one
603,Sam Walker,-,-,-,-,League_one
717,Connal Trueman,-,-,-,-,League_one
273,JÃ¶kull AndrÃ©sson,-,-,-,-,League_two
288,Guillermo OrtÃ­z,0.3,-,-,0.3,Superliga
207,Ortwin De Wolf,-,-,-,-,Jupiler_league

In [21]:
#save as csv
stats_detailed.to_csv('stats_detailed.csv', index=False)